{% extends 'base.html.twig' %}

{% block title %}Edition de profil{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('css/landing.css') }}">
{% endblock %}

{% block body %}
{% include 'nav.html.twig' %}
    <div class="container connexion">
        <h1>Editer votre profil</h1>

        {{ include('manager/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('manager/_delete_form.html.twig') }}

        <a href="{{ path('manager_show',{'id': app.user.id } ) }}">Retour liste</a>
    </div>
{% endblock %}