{% extends 'base.html.twig' %}

{% block title %}Gestionaire de plannings{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('css/landing.css') }}">
{% endblock %}

{% block body %}

<div class="container connexion">
<H1>Géstionnaire de plannings</H1>

<ul class="offset-2 col-8 center">
    <li>
        <a href=" {{path('login')}} ">
            <button class="btn btn-primary">Connexion</button>
        </a>
    </li>
    <li>
        <a href=" {{path('manager_new')}} ">
            <button class="btn btn-primary">Inscription</button>
        </a>
    </li>
</ul>
</div>
{% endblock %}