h1{
    font-weight: bold;
    /* text-shadow: #000 1px 0 10px; */
    text-transform: uppercase;
    padding-top: 100px;
}

li{
    list-style: none;
}

.center{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding-bottom: 100px;
}

.connexion{
    background: #fff;
    margin-top: 100px;
    box-shadow: 10px 10px 5px 0px;
    margin-bottom: 100px;
}

.create-btn{
    margin: 50px 0 50px 0;
}

#manager label, #company label, #employee label{
    display: block;
}

.planning-list{
    margin: 20px 0 20px 0;
}

thead{
    background-color: #CCE4F2;
}

.update-btn{
    margin: 40px 0 10px 0;
}

.del-btn{
    margin-bottom: 20px;
}

.horraires-container{
    margin: 20px;
    padding: 10px;
    border: 1px solid;
}

.horraires-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.horraires-edition-box{
    border: solid 1px;
    padding: 10px;
}