.working-day{
    background-color:lightgray;
    text-align: center;    
    border: solid;
}
.legende{
    text-align: center;
    border: solid 1px;
}
.planning-legende{
    display: grid;
    grid-column-gap: 0.2rem;
    grid-auto-rows: minmax(2rem, auto);
}
.planning{
    background-color: rgb(236, 234, 234);
    display: grid;
    grid-column-gap: 0.2rem;
    z-index: 1
}
.hour{
    border-top: solid 1px;
}
.planning :last-child{
    background-color: white;
}