{% extends 'base.html.twig' %}

{% block title %}Nouvelle Entreprise{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/landing.css') }}">
{% endblock %}

{% block body %}
{% include 'nav.html.twig' %}

    <div class="container connexion">
        <h1>Création de votre entreprise</h1>
        <div class="form-group center">
            {{ include('company/_form.html.twig') }}
        </div>
    </div>

{% endblock %}